# Fichiers JetBrains (IntelliJ, PyCharm, etc.)
.idea/

# Fichiers de logs
*.log

# Dossiers de résultats Robot Framework
Resultats/git clone https://<your_pat>@github.com/abakar8/OrangeHRM-5.7.git